// styles.module.scss
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #8d1c1c;
}

.page {
  flex: 1;
  padding: 5% 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  align-items: center;
  position: relative;
}

.mama__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #8d1c1c;
  border-bottom: 4px solid white;
}

.mama {
  width: 100%;
  max-width: 300px;
  border-radius: 50%;
}

.mama__title {
  position: absolute;
  bottom: 14px;
  font-size: 58px;
  color: white;
}

/* ─── рядок ─── */
.row {
  max-width: 600px;
  position: relative;
  display: flex;
  border: 2px solid white;
  background: white;
  min-width: 64px;
  text-transform: uppercase;
  padding: 5px 10px;
  letter-spacing: 2px;
  align-items: center;
  gap: 8px;
  width: 95%;       // конечная ширина
  max-width: 600px; // опционально
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
}

/* фон появляется через анимацию */
.rowBg {
  position: absolute;
  inset: 0;
  background: pink;
  z-index: 0;
}

.iconWrap,
.link {
  position: relative;
  z-index: 1;
}

/* текст */
.link {
  display: inline-flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  font: 600 18px/1 Arial, sans-serif;
  color: #8d1c1c;
  text-shadow: -4px 0 6px rgba(255, 255, 255, 0.45);
}

/* полукруги сверху/снизу */
$fbg: #8d1c1c;
$step: 100px;
$height: 40px;
$url: url('../assets/circle.svg');

.frostingEdgeTop,
.frostingEdgeBottom {
  position: fixed;
  left: 0;
  width: 100%;
  height: $height;
  background-image: $url;
  background-repeat: repeat-x;
  background-size: $step $height;
  pointer-events: none;
  z-index: 10;
}

.frostingEdgeTop {
  top: 0;
  transform: scaleY(-1);
}

.frostingEdgeBottom {
  bottom: 0;
  transform: scaleY(1);
}
