.page {


}

/* ─────────────────── базовые цвета/размеры ─────────────────── */
$page-bg: #8d1c1c; // ваш бордовый

/* высота половинки эллипса (скаллопа)                           */
$scallop-step: 100px;   // ширина одного элемента
$scallop-height:40px; // «приплюснутый» радиус по Y (меняйте ↓)

/* путь до svg-паттерна (положите файл из примера выше)          */
$scallop-url: url('../assets/circle.svg');

/* ────────────────────── оформление страницы ────────────────── */
.wrapper {
  display: flex;
  flex-direction: column;

}
.page {
  overflow: hidden;
  position: relative;
    width: 100%;
    flex: 1;
  display: flex;

  flex-direction: column;
  justify-content: start;
  padding-top: 5%;
  align-items: start;
  padding-left: 15px;
  gap: 10px;
    background-color: rgb(155 29 29);
  overflow: hidden; // чтобы не было горизонтального скролла
}

.mama {

  max-width: 300px;
  max-height: 500px;
  width: 100%;
  border-radius: 50%;

  &__container {
    position: relative;
      display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    background-color: rgb(155, 29, 29);
    border-bottom: 4px solid white;
  }

  &__title {

    position: absolute;
    bottom: 14px;
    text-align: center;
    font-size: 58px;
    color: white;
  }
}

.row {
font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  width: 95%;
  background-color: pink;
  color: rgb(155, 29, 29);;
  border-radius: 20px;
  padding: 5px 15px;
  text-transform: uppercase;
  display: flex;
  font-size: 20px;
  letter-spacing: 2px;
  align-items: center;
  justify-content: start;
  gap: 8px;
}

.iconWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  font-size: 18px;
  font-weight: 600;
  color: rgb(155, 29, 29);
  text-decoration: none;
}

/* ───────────────────── декоративные полукруги ───────────────── */
.frostingEdgeTop,
.frostingEdgeBottom {
  position: fixed;
  left: 0;
  width: 100%;
  height: $scallop-height;
  z-index: 9999;
  pointer-events: none;

  background-image: $scallop-url;
  background-repeat: repeat-x;
  background-size: $scallop-step $scallop-height; // 40 × 14
}

/* верхняя кромка */
.frostingEdgeTop { top: 0;transform: scaleY(-1); }

/* нижняя кромка, зеркалим по Y */
.frostingEdgeBottom {
  bottom: 0;
  transform: scaleY(1);
}
